*.log
settings.json
.idea
.projectile
node_modules/*
node_modules/babbage.ui/.gitignore
!node_modules/babbage.ui/
!node_modules/babbage.ui/*
!node_modules/babbage.ui/**/*
node_modules/babbage.ui/.gitignore
nohup.out
